
/* new */
.position{
  color: #32323d;
  font-size: 12px;
}
.position span{
  display: block;
}
.img{
  width: 35px;
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
}
.item{
  display: flex;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 0px 0;
  align-items: center;
}
.img img{
  width: 100%;
}
.item >div{
  padding: 10px;
}
.imgbox{
  flex: 0 0 35px;
}
.extends{
  flex: 0 0 40%;
  text-align: right;
}
.extends>div{
  padding: 0 10px ;
  width: 25px;
  display: inline-block;
}

.cnt a, .cnt span{
  display: block;
}
.cnt{
flex: 0 0 35%;
text-align: left;
}
.cnt a{
  font-size: 14px;
  font-weight: 700;
  line-height: 1.36;
  color: #32323d;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cnt span{
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: #a0a0a0;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.timere{
font-size: 12px;
  color: #a0a0a0;
}
.items{
  font-size: 12px;
}