
/* new */
.position{
  color: #32323d;
  font-size: 12px;
}
.position span{
  display: block;
}
.img{
  width: 35px;
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
}
.item{
  display: flex;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 0px 0;
  align-items: center;
}
.img img{
  width: 100%;
}
.item >div{
  padding: 10px;
}
.imgbox{
  flex: 0 0 35px;
}