body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
  width: 1200px;
  margin: 20px auto 0;
  background-color: #fcfcfc;
}
body{
  min-height: 100vh;
  background-color: #fcfcfc;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* new */
.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/img/icons.png');
  background-position: 0 0;
}
.icon-play{
  background-position: -23px -14px;
}
.icon-add{
  background-position: -60px -14px;
}
.icon-other{
  background-position: -105px -14px;
}
.icon-up{
  background-position: -153px -88px;
}
.icon-down{
  background-position: -153px -150px;
}
.other-list .other{
position: relative;
}
.other-list .other .list{
position: absolute;
width: 250px;
right: 0;
overflow: hidden;
text-align: left;
background-color: #fff;
}
.other-list .other .list{

}
.other-list .other .list ul li{
list-style: none;
}
.other-list .other .list ul{
padding: 0;
margin:0;
}
.other-list .other .list ul li a{
padding: 10px;
display: block;
text-decoration: none;
color: #32323d;
}
.other-list .other .list ul li a:hover{
color: purple;
background-color: #f7f7f7;
}
